@{
    Layout = "_Layout2";
}
@model IEnumerable<Usuario>
    @{
        ViewData["Title"] = "Listagem de Usuário";
    }
    <section class="sobre">Administradores</section>
    <table class="tabela">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Login</th>
                <th>Senha</th>
                <th>Opções</th>                
            </tr>
        </thead>
        <tbody>
            @foreach ( Usuario u in Model)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Nome</td>
                    <td>@u.Login</td>
                    <td>@u.Senha</td>
                    <td>
                      <a class="sp" href="/Usuario/Editar?Id=@u.Id">Editar</a>   
                    </td>
                </tr>                 
            }
            
        </tbody>
      
    </table>