        <section class="sobre">Galeria</section>
        <div class="sites">
            <h2>Galeria de Fotos</h2>
        </div> 
        <section class="produtos1">     
                <figure class="p33">
                        <img src="~/fotos/foto1.jpg" width="300" height="200" title="Foto 1" alt="Foto 1">
                        <figcaption>
                            Trabalho em equipe 1
                        </figcaption>
                </figure><!--foto3-->
                <figure class="p33">
                        <img src="~/fotos/foto2.jpg" width="300" height="200" title="Foto 2" alt="Foto 2">  
                        <figcaption>
                             Trabalho em equipe 2
                        </figcaption>
                </figure><!--foto2-->
                <figure class="p33">
                        <img src="~/fotos/foto3.jpg" width="300"  height="200" title="Foto 3" alt="Foto 3">  
                        <figcaption>
                             Trabalho em equipe 3
                        </figcaption>
                </figure><!--foto1-->                   
        </section><!--galeria1-->

       <section class="produtos1"> 
            <figure class="p33">
                    <img src="~/fotos/foto4.jpg" width="300"  height="200"  title="Foto 4" alt="Foto 4">  
                    <figcaption>
                            Trabalho em equipe 4
                    </figcaption>
            </figure><!--foto4-->
            <figure class="p33">
                    <img src="~/fotos/foto5.jpg" width="300"  height="200" title="Foto 5" alt="Foto 5">  
                    <figcaption>
                            Trabalho em equipe 5
                    </figcaption>
            </figure><!--foto5-->
            <figure class="p33">
                    <img src="~/fotos/foto6.jpg" width="300"  height="200" title="Foto 6" alt="Foto 6">  
                    <figcaption>
                            Trabalho em equipe 6
                    </figcaption>
            </figure><!--foto6-->                   
    </section><!--galeria2-->

   