@{
    ViewData["Title"] = "Home Page";
}

 <section class="home">           
                     
            <img class="home" src="~/banner.png" />
                                   
        <div class="espaco"></div><!--espaço-->
    
        <div class="texto">
            Agência de Soluções Digitais do sul do Espírito Santo desde 2020. Nós trabalhamos desde Edições de Vídeos até Criação de Sites Profissionais que atendem vários tipos de segmentos. Desenvolve sites inovadores e eficazes que alavanca a marca, aumenta a taxa de conversão e maximiza a receita para ajudar a expandir os negócios e atingir os objetivos. Se você está precisando atualizar um site antigo ou criar um novo, é só falar conosco!
        </div> <!--texto-->


    </section><!--home-->
