       <section class="sobre">Portfólio</section>
        <div class="sites">
            <h2>Conheça nosso Portfólio:</h2>
        </div> 
            <div class="sites2">
            <h2>Site Agência de Viagens Destino Certo</h2>
            </div> 
            <div class="linha3"></div>
            <section class="produtos1">                    
                <figure class="p33">
                    <img src="~/sites/site.jpg" width="300" title="Home" alt="Home">
                        <figcaption>
                               Página Home
                        </figcaption>
                </figure><!--site1-->

                <figure class="p33">
                    <img src="~/sites/site2.jpg" width="300" title="Vitrine" alt="Vitrine">
                        <figcaption>
                               Página Vitrine
                        </figcaption>
                </figure><!--site2-->
                <figure class="p33">
                    <img src="~/sites/site3.jpg" width="300" title="Login" alt="Login">
                        <figcaption>
                               Página Login
                        </figcaption>
                </figure><!--site3-->
            </section>
             <div class="sites2">
            <h2>Site Veterinária PetVet</h2>
            </div> 
            <div class="linha3"></div>
            <section class="produtos1">
                <figure class="p33">
                    <img src="~/sites/site4.jpg" width="300" title="Home" alt="Home">
                        <figcaption>
                             Página Home
                        </figcaption>
                        </figure><!--site1-->
                <figure class="p33">
                    <img src="~/sites/site5.jpg" width="300" title="Serviços" alt="Serviços">
                        <figcaption>
                             Página Serviços
                        </figcaption>
                </figure><!--site2-->
                <figure class="p33">
                    <img src="~/sites/site6.jpg" width="300" title="Agendamento" alt="Agendamento">
                        <figcaption>
                            Página Agendamento
                        </figcaption>
                        </figure><!--site3-->               
            </section><!--sites-->
        
           