        <section class="sobre">Produtos</section>
        <div class="sites">
         <h2>Criação de Sites</h2>            
              </div> 
       <section class="produtos1">    
        <div class="p33">
                    <h3>Site Institucional</h3>
                    <p>Ter um site institucional é uma ótima maneira de sua empresa se tornar cada vez mais conhecida. Possibilita expor seus produtos e serviços na internet, aumentando seus clientes e consequentemente seus lucros.</p>
                </div><!--primeira div um_terco--> 

                <div class="p33">
                    <h3>E-commerce</h3>
                    <p>Loja virtual completa e profissional, com diversas opções de pagamento e frete com estoque.</p>
                </div><!--segunda div um_terco-->

                <div class="p33">
                    <h3>Blog</h3>
                    <p>O blog é uma ferramenta que ajuda uma empresa a ganhar autoridade, aparecer no topo dos buscadores e, é claro, vender mais.</p>
                </div><!--terceira div um_terco-->
        </section><!--produtos1-->
       

        
             <div class="sites2">
            <h2>Cursos Online</h2>
             </div>     
             <div class="linha3"></div>
             <section class="produtos2">       
                <div class="v3">
                    <iframe class="video"  src="https://www.youtube.com/embed/squ3q36kJWs?autoplay=1&loop=1&autopause=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    <p>Banco de dados</p>
                </div><!--primeira div um_terco--> 
 
                <div class="v3">
                    <iframe  class="video"  src="https://www.youtube.com/embed/loh785gqJxQ?autoplay=1&loop=1&autopause=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    <p>Asp.Net MVC</p>
                </div><!--segunda div um_terco-->                

                <div class="v3">
                    <iframe class="video" src="https://www.youtube.com/embed/squ3q36kJWs?autoplay=1&loop=1&autopause=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    <p>Front-end</p>
                </div><!--terceira div um_terco-->                               
        </section><!--produtos2--> 

       