         <section class="sobre">Serviços</section>
        <div class="sites">
            <h2>Serviços</h2>
        </div> 
         <section class="produtos1">                    
                <div class="p33">
                    <h3>Consultoria</h3>
                    <p>Um bom plano estratégico ajuda sua empresa a alcançar os objetivos de negócios. Vamos fazer uma consultoria?</p>
                </div><!--primeira div um_terco--> 

                <div class="p33">
                    <h3>Edição de Vídeos</h3>
                    <p>Quando um vídeo é bem editado torna-se um produto de qualidade e de sucesso. Faça uma edição de qualidade conosco e certamente, em sua exibição, ele conseguirá se destacar</p>
                </div><!--segunda div um_terco-->

                <div class="p33">
                    <h3>Atualização do site</h3>
                    <p>Trabalhamos com os melhores gerenciadores de conteúdo do mercado. Atualize o conteúdo do seu site sempre que desejar.</p>
                </div><!--terceira div um_terco-->                               
        </section><!--servicos-->  
        
        
        