       <section class="sobre">Sobre</section>
        <section class="sobre1">
            <div class="d5">
                <h2>Missão</h2>
                Oferecer ser5iços e soluções customizados, criando mecanismos que gere resultados para empreendedores, e agregue valor para negócio, com o menor esforço possível. Concretizando o retorno do investimento de nossos clientes.   
            </div><!--metade-->
            <div class="d5">
                <h2>Visão</h2>
               Ser uma empresa sólida, lucrativa e inovadora, que seja reconhecida pela qualidade no atendimento e comprometimento com os nossos clientes.   
            </div><!--metade-->
        </section><!--sobre1-->
        <div class="linha1">_________________________________________________________</div>
                <aside>
                    <h4>Discurso do mestre</h4><br>
                    <i>"Se clamares por discernimento, e por entendimento alçares a tua voz;
                    então entenderás o temor do Senhor, e acharás o conhecimento de Deus.
                    Porque o Senhor dá a sabedoria; da sua boca procedem o conhecimento e o entendimento.Então entenderás a retidão, a justiça, a eqüidade, e todas as boas veredas.Pois a sabedoria entrará no teu coração, e o conhecimento será aprazível à tua alma; o bom siso te protegerá, e o discernimento e guardará.
                    -Os homens retos habitarão a terra, e os homens maus serão arrancados da terra e os pérfidos dela serão exterminados."</i><br>                    
                    <h4><p><i>Provérbios 2</i></p></h4>
                </aside>  
      <div class="linha2">_________________________________________________________</div>   
        <section class="sobre2">            
                <h2>Valores</h2>                
                <div class="valores">
                <div class="d2">    
                    <h4>Transparência</h4>
                   Transparência e confiabilidade em todos os processos e nas relações.
                </div><!--d2-1-->

               <div class="cz">
                    <h4>Comprometimento</h4>
                    Total comprometimento nos acordos com nossos clientes.
                </div><!--d2-2-->

                <div class="d2">  
                    <h4>Respeito</h4>
                    Respeito com os colaboradores da empresa e com nossos clientes.
                </div><!--d2-3-->

                <div class="cz">     
                   <h4>Foco no resultado</h4>
                   Trabalhamos arduamente focando na entrega de resultados com qualidade aos nossos clientes.
                </div><!--d2-4-->

               <div class="d2">      
                    <h4>Desafios</h4>
                    Buscamos desafios tecnológicos de grande impacto no empreeendimento dos nossos clientes, gerando os melhores retornos.
                </div><!--d2-5-->   
                 
            </div><!--valores-->
        </section>
      